@import '@angular/cdk/overlay-prebuilt.css';

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

app-root {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.requires-role-dir {
  &.disabled {
    opacity: .7;
    pointer-events: none;
  }
}
